* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    background: transparent;
    width: 100%;
}

.header__container {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    cursor: pointer;
}

.header__logo {
    align-items: center;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}

.header__link {
    font-size: 15px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

.main {
    background-image: url('bg.png');
    border-top: 1px solid transparent;
    padding-bottom: 50px;
}

.main__container {
    text-align: center;
}

.main__title {
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    color: white;
    margin-top: 200px;
    margin-bottom: 20px;
}

.main__dash {
    height: 1px;
    background: rgb(5, 210, 210);
    width: 50px;
    margin: auto;
}

.main__text {
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    margin-top: 20px;
    padding-bottom: 40px;
}

.main__button {
    border: 1px solid rgb(5, 210, 210);
    font-size: 17px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(5, 210, 210);
    width: fit-content;
    padding: 14px 14px;
    margin: 20px auto;
    cursor: pointer;
    text-transform: uppercase;
    margin-bottom: 80px;
}

.main__circle  {
    display: flex;
    margin: 0 auto;
    width: 70px;
}

.main__circles {
    border: 1px solid white;
    height: 10px;
    width: 10px;
    border-radius: 100px;
    margin-left: 5px;
    cursor: pointer;
}

.our__story__content {
    display: flex;
    padding-top: 70px;
    padding-bottom: 70px;
}

.our__story__main__text {
    margin-left: 80px;
}

.our__story__title {
    font-size: 27px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 25px;
}

.our__story__text {
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    color: gray;
    padding-bottom: 20px;
    width: 80%;
}

.our__story__subtext {
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    color: gray;
    padding-bottom: 20px;
    width: 80%;
}

.our__story__button {
    border: 1px solid rgb(5, 210, 210);
    font-size: 17px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(5, 210, 210);
    width: fit-content;
    padding: 14px 14px;
    text-transform: uppercase;
    cursor: pointer;
}

.watch__our__story {
    background-image: url('video.png');
    padding: 90px;
}

.watch__playicon {
    display: block;
    margin: 0 auto;
    padding-bottom: 30px;
}

.watch__our__story__text {
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-transform: uppercase;
    text-align: center;
}












