* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    background: transparent;
    width: 100%;
}

.header__container {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    cursor: pointer;
}

.header__logo {
    align-items: center;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}

.header__link {
    font-size: 15px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

.header__link:hover {
    color: rgb(5, 210, 210);
}

@media (max-width: 768px) {
    .header {
        position: absolute;
    }

    .header__container {
        width: 90%;
    }

    .header__logo {
        width: 20%;
        align-items: center;
    }

    .header__menu {
        flex-wrap: wrap;
        align-items: center;
        width: 80%;
    }

    .header__link {
        margin-left: 20px;
    }
}

@media (max-width: 320px) {
    .header__logo {
        width: 60%;
        height: 80%;
    }

    .header__menu {
        width: 38%;
    }

    .header__link {
        margin-top: 10px;
        margin-bottom: 5px;
    }
}

.main__container {
    background-image: url('img/bg.png');
    border-top: 1px solid transparent;
    text-align: center;
    padding-bottom: 50px;
}

.main__title {
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    color: white;
    margin-top: 200px;
    margin-bottom: 20px;
}

.main__title::before {
    border-bottom: 1px solid rgb(5, 210, 210);
}

.main__dash {
    height: 1px;
    background: rgb(5, 210, 210);
    width: 50px;
    margin: auto;
    margin-bottom: 20px;
}

.main__text {
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    margin-top: 20px;
    padding-bottom: 40px;
    width: 40%;
    margin: auto;

}

.main__button {
    border: 1px solid rgb(5, 210, 210);
    font-size: 17px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(5, 210, 210);
    width: fit-content;
    padding: 14px;
    margin: 20px auto;
    cursor: pointer;
    text-transform: uppercase;
    margin-bottom: 80px;
}

.main__button:hover {
    color: rgb(113, 14, 205);
}

.main__circle  {
    display: flex;
    margin: 0 auto;
    width: 70px;
}

.main__circles {
    border: 1px solid white;
    height: 10px;
    width: 10px;
    border-radius: 100px;
    margin-left: 5px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .main__container {
        background-image: url('img/bg.png') 50% no-repeat;
        background-size: cover;
        padding-top: 80px;
    }
}

.our__story__content {
    display: flex;
    padding-top: 70px;
    padding-bottom: 70px;
}

.our__story__main__text {
    margin-left: 80px;
}

.our__story__title {
    font-size: 27px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 25px;
}

.our__story__text {
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    color: gray;
    padding-bottom: 20px;
    width: 80%;
}

.our__story__subtext {
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    color: gray;
    padding-bottom: 20px;
    width: 80%;
}

.our__story__button {
    border: 1px solid rgb(5, 210, 210);
    font-size: 17px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(5, 210, 210);
    width: fit-content;
    padding: 14px;
    text-transform: uppercase;
    cursor: pointer;
}

.our__story__button:hover {
    color: rgb(113, 14, 205);
}

@media (max-width: 768px) {
    .our__story__content {
        flex-wrap: wrap-reverse;
    }

    .our__story__symbol {
        margin: auto;
    }

    .our__story__main__text {
        margin: 0;
    }

    .our__story__title {
        text-align: center;
    }    

    .our__story__text {
        margin: auto;
        text-align: center;
    }

    .our__story__subtext {
        margin: auto;
        text-align: center;
    }
    
    .our__story__button {
        margin: auto;
        margin-bottom: 50px;
    }
}

@media (max-width: 320px) {
    .our__story__subtext {
        margin-bottom: 40px;
    }
}

.watch__our__story {
    background-image: url('img/video.png');
    padding: 90px;
}

.watch__playicon {
    display: block;
    margin: 0 auto;
    padding-bottom: 30px;
}

.watch__our__story__text {
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}

.watch__our__story__text:hover {
    color:rgb(5, 210, 210);
}

.expertise__content {
    text-align: center;
    padding: 50px;
}

.expertise__title {
    font-size: 27px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.expertise__text {
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    color: grey;
    margin-bottom: 15px;
}

.expertise__dash {
    height: 1px;
    background: gray;
    width: 50px;
    margin: auto;
    margin-bottom: 50px;
}

.expertise__item__card {
    display: flex;  
}

.expertise__item {
    padding: 30px;
}

.expertise__item__image {
    margin-bottom: 20px;
}

.expertise__item__title {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.expertise__item__text {
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    color: gray;
}

@media (max-width: 320px) {
    .expertise__item__card {
        flex-wrap: wrap;
    }
}

.amazing {
    background-image: url('img/bg2.png');
    text-align: center;
    padding: 60px;
}

.amazing__title {
    font-size: 27px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
    color: white;
    margin-bottom: 10px;
}

.amazing__text {
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    margin-bottom: 20px;
}

.amazing__dash {
    height: 1px;
    background: gray;
    width: 50px;
    margin: auto;
    margin-bottom: 50px;
}

.amazing__items {
    display: flex;
    justify-content: space-between;
}

.amazing__item {
    width: 100%;
}

.amazing__image {
    margin-bottom: 20px;
}

.amazing__name {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.amazing__job {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: gainsboro;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.amazing__subtext {
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    color: gainsboro;
    margin-bottom: 20px;
}

.amazing__button {
    border: 1px solid rgb(5, 210, 210);
    font-size: 17px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(5, 210, 210);
    text-transform: uppercase;
    width: fit-content;
    padding: 14px;
    cursor: pointer;
    margin: auto; 
}

.amazing__button:hover {
    color:rgb(113, 14, 205);
}

@media (max-width: 768px) {
    .amazing {
        background-image: url('img/bg2.png') 50% no-repeat;
        background-size: cover;
    }

    .amazing__items {
        flex-wrap: wrap;
    }
}

.works__content {
    display: flex;
    justify-content: space-between;
    padding: 80px;
    align-items: center;
    width: 50%;
    margin: 0 auto;
}

.works__title {
    font-size: 27px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    text-transform: uppercase;
}

.works__text {
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    color: gray;
    cursor: pointer;
}

.works__text:hover {
    color: rgb(5, 210, 210);
}

.works__image_1 {
    width: 100%;
}

.works__image_2 {
    width: 100%;
    margin-bottom: 50px;
}

.works__button {
    border: 1px solid rgb(5, 210, 210);
    font-size: 17px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(5, 210, 210);
    text-transform: uppercase;
    width: fit-content;
    padding: 14px;
    cursor: pointer;
    margin: auto;
    margin-bottom: 50px;
}

.works__button:hover {
    color:rgb(113, 14, 205);
}

@media (max-width: 320px) {
    .works__title {
        padding-right: 30px;
    }
}

.team__main {
    background-image: url('img/workers.png');
}

.team__symbol {
    font-size: 50px;
    font-weight: 800;
    color: white;
    margin-bottom: 20px;
    padding-top: 50px;
    text-align: center;
}

.team__text {
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    width: 50%;
    margin: auto;
    margin-bottom: 30px;
}

.team__name {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
}

.team__job {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: gainsboro;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;
}

.team__images{
    display: flex;
    align-items: center;
    width: 28%;
    margin: 0 auto;
}

.team__icon {
    margin-left: 20px;
    margin-bottom: 50px;
}

.team__image {
    margin-left: 20px;
    margin-bottom: 50px;
}

@media (max-width: 768px) {
    .team__main {
        background-image: url('img/workers.png') 50% no-repeat;
        background-size: cover;
    }

    .team__images {
        width: 56%;
    }

    .team__image {
        margin-bottom: 50px;
    }
}

@media (max-width: 320px) {
    .team__images {
        flex-wrap: wrap;
        width: 20%;
    }

    .team__icon {
        transform: rotate(90deg);
    }
}

.give__client {
    display: flex;
    justify-content: space-between;
    padding: 70px;
}

.give__news__title {
    font-size: 27px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.give__news__name {
    border: 1px solid gray;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: gray;
    margin-left: 30px;
    padding: 10px;
    width: 100%;
    margin-bottom: 30px;
    cursor: pointer;
}

.give__news__email {
    border: 1px solid gray;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: gray;
    margin-left: 30px;
    padding: 10px;
    width: 100%;
    margin-bottom: 30px;
    cursor: pointer;
}

.give__news__subject {
    border: 1px solid gray;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: gray;
    margin-left: 30px;
    padding: 10px;
    width: 100%;
    margin-bottom: 30px;
    cursor: pointer;
}

.give__news__message {
    border: 1px solid gray;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: gray;
    margin-left: 30px;
    padding: 10px 10px 80px;
    width: 100%;
    margin-bottom: 30px;
    cursor: pointer;
}

.give__news__button {
    border: 1px solid rgb(5, 210, 210);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    color: rgb(5, 210, 210);
    padding: 14px;
    margin-left: 30px;
    width: fit-content;
    cursor: pointer;
}

.give__news__button:hover {
    color: rgb(113, 14, 205);
}

.happy__title {
    font-size: 27px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.happy__logo {
    margin-bottom: 30px;
}

.happy__image__mango {
    margin-left: 30px;
}

.happy__image__gucci {
    margin-left: 30px;
}

.happy__image__nike {
    margin-left: 50px;
}

.happy__image__converse {
    margin-left: 20px;
}

.happy__image__puma {
    margin-left: 50px;
}

.happy__image__levis {
    margin-left: 20px;
}

.happy__image__bill {
    margin-left: 50px;
}

@media (max-width: 768px) {
    .give__client {
        display: block;
    }

    .give__news__title {
        text-align: center;
    }

    .give__news__name {
        width: 50%;
        margin: auto;
        margin-bottom: 30px;
    }

    .give__news__email {
        width: 50%;
        margin: auto;
        margin-bottom: 30px;
    }

    .give__news__subject {
        width: 50%;
        margin: auto;
        margin-bottom: 30px;
    }

    .give__news__message {
        width: 50%;
        margin: auto;
        margin-bottom: 30px;
    }

    .give__news__button {
        margin: auto;
        margin-bottom: 50px;
    }

    .happy__title {
        text-align: center;
    }
}

@media (max-width: 320px) {
    .give__news__name {
        width: 100%;
    }

    .give__news__email {
        width: 100%;
    }

    .give__news__subject {
        width: 100%;
    }

    .give__news__message {
        width: 100%;
    }

    .happy__title {
        margin-bottom: 50px;
    }

    .happy__image__zara {
        margin-bottom: 50px;
    }

    .happy__image__new {
        margin-bottom: 50px;
    }

    .happy__image__calvin {
        margin-bottom: 50px;
    }

    .happy__image__converse {
        margin-bottom: 50px;
    }

    .happy__image__levis {
        margin-bottom: 50px;
    }
}

.footer {
    background-image: url('img/footer.png');
}

.footer__content__tajam {
    display: flex;
    padding-top: 70px;
    margin-left: 50px;
    margin-bottom: 70px;
    align-items: center;
}

.footer__tajam {
    width: 30%;
}

.footer__logo {
    margin-bottom: 20px;
}

.footer__text {
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    color: gainsboro;
}

.footer__our__address {
    margin-bottom: 20px;
}

.footer__our__title {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: gainsboro;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer__nav {
    width: 20px;
    height: 30px;
}

.footer__our__address__text {
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    color: gainsboro;
}

.footer__our__address {
    display: flex;
}

.footer__our__address__text {
    margin-left: 10px;
    width: 50%;
}

.footer__our__phonenumber {
    display: flex;
    align-items: center;
}

.footer__phonenumber__image {
    width: 20px;
    height: 20px;
}

.footer__phonenumber {
    margin-left: 10px;
    color: gainsboro;
}

.footer__stay__title {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: gainsboro;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer__search {
    margin-left: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}

.footer__icon__facebook {
    border: 1px solid white;
    border-radius: 100px;
    padding: 10px 15px 10px 15px;
    cursor: pointer;
}

.footer__icon__twitter {
    border: 1px solid white;
    border-radius: 100px;
    padding: 14px 10px 10px 10px;
    cursor: pointer;
}

.footer__icon {
    border: 1px solid white;
    border-radius: 100px;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
}

.footer__icon__youtube {
    border: 1px solid white;
    border-radius: 100px;
    padding: 11px 9px 11px 9px;
    cursor: pointer;
}

.footer__tajam__creative {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 50px;
}

.footer__help {
    display: flex;
}

.footer__subtext__help {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: gainsboro;
    text-transform: uppercase;
    cursor: pointer;
}

.footer__subtext__help:hover {
    color: rgb(5, 210, 210);
}

.footer__subtext {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: gainsboro;
    text-transform: uppercase;
    padding-left: 30px;
    cursor: pointer;
}

.footer__subtext:hover {
    color: rgb(5, 210, 210);
}

.footer__creative__text {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: gainsboro;
}

@media (max-width: 768px) {
    .footer {
        background-image: url('img/footer.png') 50% no-repeat;
        background-size: cover;
    }

    .footer__content__tajam {
        flex-wrap: wrap;
    }

    .footer__text {
        text-align: center;
    }

    .footer__tajam {
        margin: auto;
        margin-bottom: 50px;
    }

    .footer__our__phonenumber {
        margin-bottom: 70px;
    }
}

@media (max-width: 320px) {
    .footer__tajam {
        width: 70%;
    }

    .footer__search {
        width: 90%;
    }

    .footer__tajam__creative {
        flex-wrap: wrap;
    }

    .footer__help {
        margin-bottom: 50px;
    }
}
























































